{% extends 'amp/amp-base.twig' %}
{% block main %}
  {% if widgets.beforearticle %}
    <div class="widgets beforearticle clearfix">{{ widgets.beforearticle }}</div>
  {% endif %}

  <article>
    <h1 class="layout-title">{{ post.post_title }}</h1>
    {% if post.thumbnail.src %}
      <amp-img class="layout-thumbnail" src="{{ post.thumbnail.src }}" width="400" height="400" layout="responsive"></amp-img>
    {% endif %}
    <div class="articlecontent">
      {{ post.content|replace({'<img': '<amp-img layout="responsive"', '<iframe': '<amp-iframe', '</iframe>': '</amp-iframe>'})  }}
    </div>
  </article>

  {% if childs %}
    <div class="page-childs clearfix">
      {% for child in childs %}
        <div class="child">
          {% if child.thumbnail %}
            <a href="{{ child.link }}/amp" rel="nofollow" title="{{ child.title }}" class="thumbnail">
              <amp-img layout="responsive" width="400" height="400" src="{{ child.thumbnail|letterbox(400,400, '#fff') }}" alt="{{ child.title }}" />
            </a>
          {% endif %}
          <a href="{{ child.link }}/amp" title="{{ child.title }}" class="title">{{ child.title }}</a>
          <div class="content">
            {{ child.content|truncate(10) }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block navigation %}
  {% if subMenu %}
    <div class="open-menu-sub-menu" on='tap:sidebar2.toggle' tabindex='1' role='navigation'>
      <div class="menu-bars sub-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="offer-text">{{ __('Oferta', 'krframe') }}</span>
    </div>
  {% endif %}
  {{ parent ()}}
{% endblock %}

{% block footer %}
{% if subMenu %}
  <amp-sidebar id="sidebar2" layout="nodisplay" side="left" class="navigation">
    <ul>
      {% for child in subMenu %}
        <li{{ child.active ? ' class="active"'}}>
          <a href="{{ child.link }}/amp" title="{{ child.title }}">{{ child.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </amp-sidebar>
{% endif %}
{% endblock %}
