<!doctype html>
<html {{site.language_attributes}} itemscope="itemscope" itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="{{site.charset}}"/>
        <title itemprop="name">{{ wp_title }}</title>
        {{ siteDescription }}
        <link rel="stylesheet" href="{{site.theme.link}}/assets/css/theme.css" type="text/css" media="screen"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="pingback" href="{{site.pingback_url}}"/>
        {{ function('wp_head') }}
    </head>

    <body class="{{body_class}}">
        <div class="web__root">
            <header class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
                <div class="container">
                    <div class="wrapper header__wrapper">
                        <div class="logo">
                            {{ function('is_front_page') ? '<h1>' }}
                                <a href="{{ site.url }}" title="{{ site.name }}" itemprop="headline">
                                    <img src="{{ site.theme.link }}/assets/images/logo.png" alt="{{ site.name }}"/>
                                </a>
                            {{ function('is_front_page') ? '<h1>' }}
                        </div>

                        {% if langs %}
                            {% include 'parts/langs.twig' with {
                                'langs' : langs
                            }
                            only %}
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="navigation">
                <div class="container">
                    <div class="wrapper navigation__wrapper">
                        <nav id="js-navigation" class="navigation__inner" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                            {% include "parts/menu.twig" with {
                                'menu' : menu.get_items
                            } %}
                        </nav>
                    </div>
                </div>
            </div>
            {% block beforemain %}{% endblock %}
            <main class="main" itemscope="itemscope" itemprop="mainContentOfPage">
                {% block main %}{% endblock %}
            </main>
            {% block aftermain %}{% endblock %}

            <footer class="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
                <div class="container">
                    <div class="wrapper footer__wrapper">
                        {% if widgets.footer %}
                            <div class="widgets widgets--footer">
                                <div class="row">{{ widgets.footer }}</div>
                            </div>
                        {% endif %}

                        <div class="row copyright">
                            <div class="col-sm-6">
                                &copy
                                {{ "now"|date('Y') }}
                                -
                                {{ site.name }}
                            </div>
                            <div class="col-sm-6 text-right">
                                {{ __('Projekt i realizacja', 'krframe') }}
                                {% if function('is_front_page') %}
                                    <a href="http://www.kr-design.pl" title="Kr-Design - Tworzenie stron internetowych" target="_blank">Kr-Design</a>
                                {% else %}
                                    Kr-Frame
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        {{ function('wp_footer') }}
        <script defer async src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    </body>
</html>
